<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'https://www.ualberta.ca/favicon.svg' %>
    <%= javascript_pack_tag '2020main-bootstrap-v5' %>
    <%= stylesheet_pack_tag '2020main-bootstrap-v5' %>
    <script src="https://kit.fontawesome.com/5dc7d61ac4.js" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QT07E47HT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-5QT07E47HT');
    </script>
    <%= stylesheet_link_tag comfy_cms_render_css_path(@cms_site.id, @cms_layout.identifier) %>
    <title>
      <% if content_for(:title) %>
        <%= yield(:title) %> - UofA Library
      <% elsif @cms_page %>
        <%= @cms_page.label %> - UofA Library
      <% else %>
        University of Alberta Library
      <% end %>
    </title>
  </head>
  <body class="d-flex flex-column">

  <%= yield %>

  </body>
</html>
