<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag 'https://www.ualberta.ca/favicon.svg' %>
    <%= javascript_pack_tag '2020main' %>
    <%= stylesheet_pack_tag '2020main' %>
    <script src="https://kit.fontawesome.com/5dc7d61ac4.js" crossorigin="anonymous"></script>
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62486800-2', 'auto');
  ga('send', 'pageview');

</script>
    <%= stylesheet_link_tag comfy_cms_render_css_path(@cms_site.id, @cms_layout.identifier) %>
    <title>
  <% if content_for(:title) %>
    <%= yield(:title) %> - UofA Library
  <% elsif @cms_page %>
    <%= @cms_page.label %> - UofA Library
  <% else %>
     University of Alberta Library
  <% end %>
</title>
  </head>
  <body class="d-flex flex-column">
  
  <%= yield %>

  </body>
</html>
